// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/two_col";

// blueprint_grid_columns: 8;
//
 
 
body {
    @include blueprint-typography(true);
    @include blueprint-interaction;

    background:#303030 url(/img/skeleton.png) no-repeat 50% 0;
    #container{
        @include container;
        .sidebar {
            ul.none {
                list-style-type: none;
                margin-bottom:0;
            }
            a{
                font-size:13px;
                text-decoration: none;
            }
            @include column(2); 
            text-align:right;

            margin:0 20px;            
            //padding-right:30px;
            #nav, #recent{
                padding: 10px 0 10px 0;
                margin-bottom: 10px;
                background: url(/img/bg.png);
            }
            #translatepanel{
                text-align:center;
                margin-top:20px;
            }
            #recent{
                
            }
            #ad{
                //height:200px;
            }
        }
        #content {
            //background-color: #505050;
            background: url(/img/bg.png);
                
            //background-color: #ccc;
            @include column(7, true); 
            padding:20px;
            .date{
                text-align:right;
            }
        } 
    }
}
.alt {
  //color: white;
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
}
#headwrapper, #header, #footer{
    //color:white;
}
#headwrapper{
    width:900px;
    margin: 0 auto;
    height:150px;
    padding-top:300px;

    #header{
        a{
            text-decoration: none;
        }
        
        padding:20px;
    }
}

#footer{
    margin:20px;
}