<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>Alexbian's Treasure &raquo; {{ page.title }}</title>
   <meta name="author" content="Alexbian" />
   <link href="http://feeds2.feedburner.com/git-ready" rel="alternate" title="RSS" type="application/rss+xml" />
   <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/960.css" type="text/css" media="screen, projection" />
</head>
<body>
  <div class="container_12">
    <div class="grid_40 prefix_2 title">
      <h1><a href="/">Alexbian's Treasure</a></h1>
    </div>

    <div class="grid_41 suffix_2 info">
<div class="cat">
      <a href="/about.html">存档</a>
      <a href="/about.html">标签</a>
      <a href="/about.html">分类</a>
      <a href="/about.html">我的介绍</a>
</div>
    </div>

    <div class="grid_8 prefix_2 suffix_2 main">
      {{ content }}
    </div> 

    <div class="grid_12 footer">
      <div class="footer_links">
        <a href="/about.html">about</a>
        <a href="http://github.com/gitready/gitready">code</a>
        <a href="/submit.html">submit a tip</a>
        <a class="rss" href="http://feeds.feedburner.com/git-ready">rss</a>
        <a href="http://twitter.com/bianhuadong">twitter</a>
      </div>
    </div>

      
  </div>

  <div id="feedburner">
    <a href="http://feeds2.feedburner.com/git-ready"><img src="http://feeds2.feedburner.com/~fc/git-ready?bg=FFE3A3&amp;fg=000000&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a>
  </div>
</body>
</html>
